body {
    font-family: 'Roboto', sans-serif;
}
.header-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.top-header {
    background-color: rgb(255, 255, 255);
    height: 180px;
    width: 1480px;
    display: flex;
    align-items: flex-end;
}
.top-header a { 
    text-decoration: none;

    font-size: 80px;
    color: #4BCAFF;
    line-height: 94px;
}

.top-header a:first-child {
    color: black;
    margin-left: 98px;
}

.menu {
    background-color: #35444F;
    width: 1280px;
    height: 72px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 38px;

}
.menu-button {
    height: 72px;
    display: flex;
    align-items: center;
    border-left: 1px solid white;
    border-right: 1px solid white;
}
.menu-button a{
    text-decoration: none;
    font-size: 24px;
    color: white;
    padding: 0 30px;
    line-height: 28px;

}

.menu-button:hover {
    background: #222F3A;
}

aside {
    display: flex;
    justify-content: center;
}

.left-menu {
    border: 1px solid black;
    width: 345px;
    height: 400px;
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    margin-right: 46px;
}
.left-menu a {
    text-decoration: none;
    color: #485863;
    font-size: 27px;
    padding-top: 20px;
    padding-left: 28px;
    height: 60px;
}
.left-menu a:hover {
    background-color: #DBDBDB;
    color: black;
    padding-left: 80px;
    font-weight: 500;
    transition: 0.8s;
}

.image-size {
    border: 1px solid black;
    height: 530px;
    width: 885px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}
.image {
    height: 380px;
    width: 320px;
    transition: transform 0.5s;
}

.image-size:hover img {
    transition: 0.7s;
    transform: scale(1.2);
}

.main-text {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.main-text p {
    margin-top: 37px;
    width: 885px;
    font-size: 18px;
    padding-left: 392px;
}

footer {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.bottom-menu {
    width: 1280px;
    height: 72px;
    background-color: #63696E7A;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}


.bottom-menu-button a{
    text-decoration: none;
    margin: 0 20px;
    color: #0C1927;
    font-size: 28px;
}

.bottom-menu a:hover{
    text-decoration: underline;
    text-decoration-color: #3181A6;
    text-underline-offset: 13px;
    text-decoration-thickness: 1px;
    color: #3181A6;
    font-size: 28px;
    transition: 0.5s;
}

.bottom-menu p {
    margin: 0 30px 0;
    padding: 0;
    color: #0C1927;
    font-size: 24px;
}